.dashMain {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
    border: 3px solid #803D3B;
    border-top: none;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #E4C59E #803D3B;
    scrollbar-width: thin;

    box-shadow: 0px 3px 10px black;
    border-radius: 0px 0px 0px 10px;
}


.dashButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 90%;
    height: 50px;

    color: #E4C59E;
    
    
    border-radius: 10px 10px 0px 0px;
    border: #803D3B 3px solid;

    box-shadow: 0px 3px 10px black;
    z-index: 10;
}

.dashLeft {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #803D3B;
    

    
}
.dashRight {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashRight button:hover {
  background-color: #8f4945;
}

  
  .widget {
    background: #E4C59E;
    color: #322C2B;
    box-shadow: 0px 3px 10px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 10px;
    overflow: hidden;
    user-select: none;


  }

  .widget-header {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #322C2B;
  }

  .widget-header:hover {
    cursor: move;
  }

  .widget-content {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .widget-content textarea {
    height: 90%;
    width: 90%;
    background-color: #E4C59E;
    color: #322C2B;
    font-size: 1rem;
    resize: none;
    border: none;
    outline: none;
    
  }
  
  .widget button {
    margin-top: 10px;
    border: none;
    
  }
 

  button {
    transition: 0.4s;
    border: none;
    margin: 10px;
    padding: 5px 10px;
    background-color: #803D3B;
    color: #E4C59E;
    
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;

    font-family: "Cherry Swash", serif;
  }
  
  button:hover {
    background-color: #322C2B;
    
  }

  @media (max-width: 768px) {
    .dashMain {
      height: 73%;
    }
    
    .dashLeft {
      font-size: 0.8rem;
    }
    .dashRight {
      justify-content: center;
      align-items: center;
    }
    .dashRight button{
      width: 58px;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
    }
  }
    